-# %p#notice= notice
-# %h1 Stories
-# %table
-#   %thead
-#     %tr
-#       %th Title
-#       %th Description
-#       %th{:colspan => "3"}
-#   %tbody
-#     - @stories.each do |story|
-#       %tr
-#         %td= link_to story.title, story_path(story)
-#         -# %td= story.description
-#         -# %td= link_to 'Show', story
-#         -# %td= link_to 'Edit', edit_story_path(story)
-#         -# %td= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' }
-# -# %br/

  

.container
  .row
    - @stories.each do |story|
      .col-md-4
        .card
          .row
            .col-md-8
              %h5
                = link_to story.title, edit_story_path(story), class: "card-body"
              = story.created_at.strftime("%d/%m/%Y-%I:%M %p")
            .col-md-4
              %h5
                - if story.status == "unstarted"
                  Unstarted
                - elsif story.status == "started"
                  Started
                - elsif story.status == "finish"
                  Finished
                - elsif story.status == "accepted"
                  Accepted
                - else
                  Rejected
        %br              
  = link_to "Add New Story", new_story_path, class: "btn btn-primary"
